.art {
  background: url("../assets/undraw_forgot_password.svg") no-repeat center center / contain;
}

#new-password {
  display: none;
}

#account-nomatch {
  display: none;
}

.right .text-input {
  margin-bottom: 1rem;
}